.contact-edit {
    display: grid;
    // flex-direction: column;
    justify-content: center;
    color: whitesmoke;

    h1 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 28px;
    }

    form {
        display: flex;
        gap: 20px;
        width: 500px;
        // align-content: center;
        justify-content: center;
    }

    .actions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 50px;

        >* {
            width: 100px;
            height: 30px;
        }
    }
}